## Pandas INTRO
- Pandas in python module that makes data sciencce easy and effective
- Process of Cleaning messy data is called data mungling or data wrangling

In [1]:
import pandas as pd
df=pd.read_csv('nyc_weather.csv')
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [2]:
#highest temperature
df['Temperature'].max()

50

In [3]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [4]:
df['WindSpeedMPH'].mean()

6.892857142857143

In [5]:
##you can fill null value
df.fillna(0,inplace=True)#it wil replace the null value
df['WindSpeedMPH'].mean()

6.225806451612903

In [6]:
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333


#### Topics
- 1.)Creating Dataframe
- 2.)Dealing with rows and columns
- 3.)Operations:min,max,std,describe
- 4.)Conditional selection
- 5.) Set Index

#### What is DataFrame
- Dataframe is a main object in pandas.it is used to represent data with rows and columns(tabular or excel spreadsheet like data)

In [7]:
df=pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [8]:
# You can also Create a Dataframe by python dictionary
weather_data={
    'day':['1/1/2017','1/2/2017','1/03/2017'],
    'temperature':[32,35,38],
    'windspeed':[6,7,2],
    'event':['Rain','Sunny','Snow']
}
data=pd.DataFrame(weather_data)
data

         day  temperature  windspeed  event
0   1/1/2017           32          6   Rain
1   1/2/2017           35          7  Sunny
2  1/03/2017           38          2   Snow

In [9]:
#shape means dimensional
print(data.shape)#this is tuple so you want to store in variable than you can do it
rows,columns=df.shape
print(rows)
print(columns)

(3, 4)
6
4

In [10]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [11]:
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [12]:
df[2:5]#slicing with dataframe

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [13]:
df[:]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [14]:
df.columns#it will print columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [15]:
df.day#df['event'] both are same
df.temperature
df.windspeed

0    6
1    7
2    2
3    7
4    4
5    2
Name: windspeed, dtype: int64

In [16]:
type(df['event'])

pandas.core.series.Series

In [17]:
#we want to print two columns only then
df[['event','day','temperature']]

   event       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           31

In [18]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [19]:
#max temperature
df['temperature'].max()

35

In [20]:
df['temperature'].min()

24

In [21]:
df['temperature'].mean()
df['temperature'].std()

3.8297084310253524

In [22]:
#it will print statastic on the columns
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [23]:
#how you can conditionally select a data
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [24]:
df[df.temperature==df.temperature.max()]# it will print entire row

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [25]:
#but i want specific column only then
df[['day','temperature']][df.temperature==df.temperature.max()]

        day  temperature
1  1/2/2017           35

In [26]:
df.index
#it is o to 5 but 6 is not included

df.set_index('day',inplace=True)

In [27]:
df.loc['1/2/2017']

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [28]:
df.reset_index('day',inplace=True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [30]:
df.set_index('event',inplace=True)

In [31]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

In [38]:
df.loc['Rain']

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Rain   1/5/2017           32          4

### Different ways of creating Dataframe
- 1.Using CSV
- 2.Using Excel
- 3.From python dictionary
- 4.From list of tuples
- 5.From list of dictionaries

In [40]:
#1. Read CSV
df=pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [41]:
# df=pd.read_excel('weather_data.Xlsx','sheet1')

In [42]:
#use of tuple
weather_data=[
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df=pd.DataFrame(weather_data,columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [44]:
#list of dictionary
weather_Data=[
    {'day':'1/1/2017','temperature':32,'windspeed':6,'event':'Rain'},
    {'day':'1/2/2017','temperature':35,'windspeed':7,'event':'Sunny'},
    {'day':'1/3/2017','temperature':28,'windspeed':2,'event':'snow'}
]
df=pd.DataFrame(weather_Data)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   snow